*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6
{
	position: relative;
	text-transform: uppercase;
	color: rgb(27, 117, 187);
}

h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	font-weight: 900;
}

h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	font-weight: 700;
}

h3, h4, h5, h6 {
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	font-weight: 600;
}

a {
	color: rgb(27, 117, 187);
}

.container
{
	width: 960px;
	margin: 0 auto 0 auto;
}

.container header
{
	position: relative;
	overflow: hidden;
	height: 320px;
}

header .logo
{
	position: absolute;
	top: 1em;
	left: 2em;
	background-color: rgb(255,255,255);
	background-color: rgba(255, 255, 255, 0.7);
	padding: 1em;
}

.row {
	margin: 20px 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	clear: both;
}

.row .col1
,.row .col2
,.row .col3
,.row .col4
,.row .col5
,.row .col6
,.row .col7
,.row .col8
,.row .col9
,.row .col10
,.row .col11
,.row .col12 {
	position: relative;
	min-height: 1px;
	float: left;
}

.col1 { width: 80px; }
.col2 { width: 160px; }
.col3 { width: 240px; }
.col4 { width: 320px; }
.col5 { width: 400px; }
.col6 { width: 480px; }
.col7 { width: 560px; }
.col8 { width: 640px; }
.col9 { width: 720px; }
.col10 { width: 800px; }
.col11 { width: 880px; }
.col12 { width: 960px; }

.site
{
	padding: 0 1.4em;
	border-right: 1px solid #C0C0C0;
}

.site h1
{
	font-size: 2.6em;
	margin: 0.2em 0 0;
}

.site p
{
	margin: 1.5em 0;
}

.site:first-child
{
	border-left: 1px solid #C0C0C0;
}

.btn {
	display: inline-block;
	padding: 8px 12px;
	margin-bottom: 0;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #ffffff;
	background-color: #428bca;
	border-color: #428bca;
	text-decoration: none;
}

.btn:hover {
	background-color: #357ebd;
	border-color: #3071a9;
}

footer {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	margin: 0;
	padding: 0;
	background-color: #111;
	width: 100%;
	color: rgb(255, 255, 255);
	height: 35px;
	text-align: right;
}

footer .container p {
	margin-top: 8px;
}

@media screen and (min-height: 700px)
{
	.container header
	{
		height: 420px;
	}
}

@media screen and (min-height: 756px)
{
	.container header
	{
		height: 520px;
	}
}