/* @group TypeKit FOAT */

.wf-loading {
	visibility: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wf-active {
	visibility: visible;
}

/* @end */

/* @group Root Changes */

html {
	font-weight: 300;
	font-style: normal;
	font-family: "proxima-nova",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 600;
}

/* @end */

.logo {
	position: absolute;
	top: 90px;
	width: 100%;
	height: 190px;
	background: rgba(255, 255, 255, .90) url('../img/logos/logo-creaprac.png') no-repeat center center;
}

.back-image {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: rgb(255, 255, 255) url('../img/main-back/back.jpg') no-repeat center center fixed;
	background-size:cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main-back/back.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main-back/back.jpg', sizingMethod='scale');
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
}

.back-black {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color:
	rgba(0, 0, 0, .25);
	top: 0;
}

nav {
	position: relative;
	width: 100%; /*width: 960px;*/
	margin: 370px auto 0 auto;
}

ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

ul > li {
	display: inline-block;
	padding: 8px 8px 4px;
}

ul > li:hover {
	background-color: rgb(27, 117, 187);
}

ul > li > a {
	display: inline-block;
}

ul > li > a > figure {
	position: relative;
}

.flag {
	width: 297px;
	height: 170px;
}

#flag_MX {
	background-image: url(../img/flags/flag-mx.jpg);
}

#flag_US {
	background-image: url(../img/flags/flag-us.jpg);
}

#flag_PT {
	background-image: url(../img/flags/flag-pt.jpg);
}

ul > li > a > figure > figcaption {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	padding: 1em;
	background-color: rgba(0, 0, 0, .75);
	color: white;
	text-align: left;
}

ul > li > a > figure > figcaption > h3 {
	margin: 0;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	text-align: right;
}

footer > .designed {
	float: left;
	margin: 7px 0 7px 15px;
	padding: 0;
	color: rgb(0, 0, 0);
	text-decoration: none;
	-webkit-transition: color 350ms ease-in;
	-moz-transition: color 350ms ease-in;
	-o-transition: color 350ms ease-in;
	transition: color 350ms ease-in;
}

footer > .designed:hover {
	color: rgb(255, 255, 255);
}

footer > h6 {
	margin: 1em;
	letter-spacing: 0.1em;
}

@media (max-height: 600px) {
	.logo {
		top: 60px;
	}

	nav {
		margin-top: 320px;
	}
}

@media (min-width: 1200px) {
	nav > ul > li {
		margin: 0 20px;
	}
}

@media (max-width: 960px) {
	nav {
		margin-top: 300px;
	}
}