/* @group TypeKit FOAT */

.wf-loading {
	visibility: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wf-active {
	visibility: visible;
}

/* @end */

/* @group Root Changes */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-weight: 300;
	font-style: normal;
	font-family: "proxima-nova",sans-serif;
	word-wrap: break-word;
}

body {
	background-color: rgb(240, 240, 240);
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	color: rgb(27, 117, 187);
}

a {
	color: rgb(27, 117, 187);
}

footer {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	margin: 0;
	padding: 0;
	background-color: #111;
	width: 100%;
	color: rgb(255, 255, 255);
	height: 50px;
}
/* @end */

/* @group General */

header.main {
	overflow: hidden;
	background-color: white;
	box-shadow:0 0 5px 1px rgba(0,0,0,0.3);
	border-top: 6px solid rgb(27, 117, 187);
	min-width: 960px;
}

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

div.main.container {
	overflow: hidden;
	margin-bottom: 71px; /*same height as top side*/
}

header.main .logo {
	margin: 20px 0;
}

header.main nav {
	display: block;
	position: relative;
	border-top: 2px solid #F3F3F3;
	padding: 15px 0;
}

header.main nav > ul {
	display: table;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	border-right: 1px solid #F3F3F3;
}

header.main nav > ul > li {
	display: table-cell;
	width: 136.857142857px;
	vertical-align: middle;
	border-left: 1px solid #F3F3F3;
}

header.main nav > ul > li > a {
	text-decoration: none;
	color: #666;
	display: block;
	padding: 10px 0;
	font-weight: 400;
}

header.main nav > ul > li > a.active {
	color: rgb(27, 117, 187);
	cursor: default;
}

header.main nav > ul > li > a:hover {
	color: rgb(27, 117, 187);
}

.btn {
	display: inline-block;
	padding: 8px 12px;
	margin-bottom: 0;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #ffffff;
	background-color: #428bca;
	border-color: #428bca;
}

.btn:hover {
	background-color: #357ebd;
	border-color: #3071a9;
}

.alert {
	position: relative;
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
	background-color: rgb(242, 222, 222);
	border-color: rgb(186, 19, 27);
	display: none;
}

.alert h1 {
	font-size: 1.5em;
	margin: 0;
	color: rgb(186, 19, 27);
}

.alert p {
	margin: 0;
}

.alert button.close {
	position: absolute;
	top: 10px;
	right: 20px;
	background: transparent;
	border: 0;
	font-size: 1.5em;
	color: rgb(186, 19, 27);
	padding: 0;
}

.alert li
{
	display: none;
}

.row {
	margin: 20px 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	clear: both;
}

.row.row-product {
	margin: 40px 0;
}

.row .row-product:first-child {
	margin-top: 10px;
	overflow: hidden;
}

.row .row-product {
	margin-top: 40px;
	overflow: hidden;
}

.row .col1
,.row .col2
,.row .col3
,.row .col4
,.row .col5
,.row .col6
,.row .col7
,.row .col8
,.row .col9
,.row .col10
,.row .col11
,.row .col12 {
	position: relative;
	min-height: 1px;
	float: left;
}

/*.col1 { width: 8.333333333333332%; }
.col2 { width: 16.666666667%; }
.col3 { width: 25%; }
.col4 { width: 33.33333333333333%; }
.col5 { width: 41.66666666666667%; }
.col6 { width: 50%; }
.col7 { width: 58.333333333333336%; }
.col8 { width: 66.66666666666666%; }
.col9 { width: 75%; }
.col10 { width: 83.33333333333334%; }
.col11 { width: 91.66666666666666%; }
.col12 { width: 100%; }*/

.col1 { width: 80px; }
.col2 { width: 160px; }
.col3 { width: 240px; }
.col4 { width: 320px; }
.col5 { width: 400px; }
.col6 { width: 480px; }
.col7 { width: 560px; }
.col8 { width: 640px; }
.col9 { width: 720px; }
.col10 { width: 800px; }
.col11 { width: 880px; }
.col12 { width: 960px; }

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right  !important;
}

.text-center {
	text-align: center  !important;
}

.text-italic {
	font-style: italic !important;
}

/* @end */

/* @group INDEX */

body.index div.main.container aside {
	float: left;
	width: 265px;
	padding-right: 32px;
}

body.index div.main.container section {
	float: right;
	width: 695px;
}

body.index div.main.container section p {
	font-family: "minion-pro",sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 1.1em;
}

body.index div.main.container section p:first-child {
	margin-top: 0;
}

body.index div.main.container header.page {
	margin: 1.5em 0;

}

body.index div.main.container .warehouse {
	text-align: right;
}

body.index div.main.container .warehouse h4 {
	margin-bottom: 0;
}

 body.index div.main.container .warehouse .phone
,body.index div.main.container .warehouse .fax {
	display: block;
}

body.index div.main.container .warehouse .phone::before {
	content: 'T. ';
}

body.index div.main.container .warehouse .fax::before {
	content: 'Fax. ';
}

/* @end */

/* @group CONTACT */

body.contact div.main.container form .row label.required::after {
	content: ' *';
	color: rgb(186, 19, 27);
}

body.contact div.main.container form .row label {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 80px;
	text-align: right;
	vertical-align: top;
	margin-top: 6px;
}

 body.contact div.main.container form .row.input1 label
,body.contact div.main.container form .row.input2 label:first-of-type {
	margin-left: 170px;
}

body.contact div.main.container form .row.input2 label:last-of-type {
	margin-left: 20px;
}

 body.contact div.main.container form .row.input1 input
,body.contact div.main.container form .row.input1 textarea {
	width: 526px;
}

body.contact div.main.container form .row.input2 input {
	width: 204px;
}

body.contact div.main.container form .row.button {
	text-align: center;
}

body.contact div.main.container form .row.button .btn {
	padding: 12px 24px;
}

 body.contact div.main.container form input
,body.contact div.main.container form textarea {
	 padding: 4px 6px;
	 line-height: 1.428571429;
	 color: #555555;
	 vertical-align: middle;
	 background-color: #ffffff;
	 border: 1px solid #cccccc;
	 border-radius: 4px;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	 -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	         transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* @end */

/* @group CATALOG */

body.catalog div.main.container .center-content {
	width: 620px;
	margin: 0px auto 0 auto;
	overflow: hidden;
}

 body.catalog div.main.container .center-content p
,body.catalog div.main.container .center-content figcaption {
	text-align: center;
}

body.catalog div.main.container .center-content figure {
	margin-top: 30px;
}

body.catalog div.main.container .center-content figure .download-icon {
	width: 131.5px;
	height: 91px;
	display: block;
	margin: 0 auto 10px auto; /*TRBL*/
	background: transparent url('../img/icons/cloud_download.png') no-repeat;
	background-position: top left;
}

body.catalog div.main.container .center-content figure:hover .download-icon {
	background-position: top right;
}

body.catalog div.main.container .center-content a:hover {
	color: rgb(89, 143, 0);
}

/* @end */

/* @group CARDBOARDS */

body.cardboards div.main.container .row {
	margin-bottom: 50px;
}

body.cardboards div.main.container .row:last-of-type {
	margin-bottom: 20px;
}

body.cardboards div.main.container .row .mini-cardboard {
	display: inline-block;
	width: 317px;
	text-align: center;
}

body.cardboards div.main.container .row .mini-cardboard a {
	text-decoration: none;
}

body.cardboards div.main.container .row .mini-cardboard a figcaption {
	color: rgb(27, 117, 187);
}

body.cardboards div.main.container .row .mini-cardboard a .impact-heading {
	font-weight: 600;
}

body.cardboards div.main.container .row .mini-cardboard a:hover {
	text-decoration: underline;
	/*color: rgb(89, 143, 0);*/
	color: rgb(140, 3, 3);
}

body.cardboards div.main.container .row .mini-cardboard a:hover figcaption {
	/*color: rgb(89, 143, 0);*/
	color: rgb(140, 3, 3);
}

/* @end */

/* @group PRODUCTS */

body.products div.main.container .carousel {
	position: relative;
	width: 960px;
	height: 632px;
	margin: 0 auto;
	padding: 0;
	/*background-color: #F00;*/
}

body.products div.main.container .carousel > .products {
	position: relative;
	width: 870px;
	height: 600px;
	top: 0;
	left: 45px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body.products div.main.container .carousel > .products > ul {
	list-style: none;
	position: relative;
	height: 600px;
	width: 5220px; /*870 x pages*/
	margin: 0;
	padding: 0;
}

body.products div.main.container .carousel .products ul  img {
	border: 3px solid rgb(240, 240, 240);
}

body.products div.main.container .carousel .products ul  img:hover {
	border: 3px solid rgb(27, 117, 187);
}

body.products div.main.container .carousel > .products > ul > li {
	position: relative;
	display: block;
	width: 290px;
	height: 300px;
	float: left;
}

body.products div.main.container .carousel > .products > ul > li > a {
	position: absolute;
	width: 246px;
	height: 276px;
	left: 21px;
	top: 12px;
}

body.products div.main.container .carousel > .pager > ul {
	list-style: none;
	text-align: center;
	position: relative;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	height: 32px;
}

body.products div.main.container .carousel > .pager > ul > li {
	display: inline-block;
	width: 32px;
	height: 32px;
}

body.products div.main.container .carousel .pager .pager-list {
	display: block;
	width: 32px;
	height: 32px;
	background: url('../img/icons/carousel_navigation.png') no-repeat transparent;
}

body.products div.main.container .carousel .pager #pag1 {	background-position: 1px -41px; }
body.products div.main.container .carousel .pager #pag2 {	background-position: -31px -41px; }
body.products div.main.container .carousel .pager #pag3 {	background-position: -63px -41px; }
body.products div.main.container .carousel .pager #pag4 {	background-position: -95px -41px; }
body.products div.main.container .carousel .pager #pag5 {	background-position: -127px -41px; }
body.products div.main.container .carousel .pager #pag6 {	background-position: 1px -73px; }
body.products div.main.container .carousel .pager #pag7 {	background-position: -31px -73px; }
body.products div.main.container .carousel .pager #pag8 {	background-position: -63px -73px; }
body.products div.main.container .carousel .pager #pag9 {	background-position: -95px -73px; }
body.products div.main.container .carousel .pager #pag10 { background-position: -127px -73px; }

body.products div.main.container .carousel .pager #pag1:hover {	background-position: 1px -105px; }
body.products div.main.container .carousel .pager #pag2:hover {	background-position: -31px -105px; }
body.products div.main.container .carousel .pager #pag3:hover {	background-position: -63px -105px; }
body.products div.main.container .carousel .pager #pag4:hover {	background-position: -95px -105px; }
body.products div.main.container .carousel .pager #pag5:hover {	background-position: -127px -105px; }
body.products div.main.container .carousel .pager #pag6:hover {	background-position: 1px -137px; }
body.products div.main.container .carousel .pager #pag7:hover {	background-position: -31px -137px; }
body.products div.main.container .carousel .pager #pag8:hover {	background-position: -63px -137px; }
body.products div.main.container .carousel .pager #pag9:hover {	background-position: -95px -137px; }
body.products div.main.container .carousel .pager #pag10:hover { background-position: -127px -137px; }

body.products div.main.container .carousel .pager #pag1.active {	background-position: 1px -105px; }
body.products div.main.container .carousel .pager #pag2.active {	background-position: -31px -105px; }
body.products div.main.container .carousel .pager #pag3.active {	background-position: -63px -105px; }
body.products div.main.container .carousel .pager #pag4.active {	background-position: -95px -105px; }
body.products div.main.container .carousel .pager #pag5.active {	background-position: -127px -105px; }
body.products div.main.container .carousel .pager #pag6.active {	background-position: 1px -137px; }
body.products div.main.container .carousel .pager #pag7.active {	background-position: -31px -137px; }
body.products div.main.container .carousel .pager #pag8.active {	background-position: -63px -137px; }
body.products div.main.container .carousel .pager #pag9.active {	background-position: -95px -137px; }
body.products div.main.container .carousel .pager #pag10.active { background-position: -127px -137px; }

body.products div.main.container .carousel > .pager-btn {
	position: absolute;
	background: url('../img/icons/carousel_navigation.png') no-repeat transparent;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

body.products div.main.container .carousel > #pager_left {
	top: 280px;
	left: 5px;
	background-position: 0px 0px;
}

body.products div.main.container .carousel > #pager_left:hover {
	background-position: -84px 0px;
}

body.products div.main.container .carousel > #pager_right {
	top: 280px;
	right: 5px;
	background-position: -42px 0px;
}

body.products div.main.container .carousel > #pager_right:hover {
	background-position: -126px 0px;
}

/* @end */

/* @group Each Product */

body.each-product div.main.container header.product {
	position: relative;
	width: 960px;
	height: 200px;
	margin: 30px 0;
}

body.each-product div.main.container header.product .text {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 398px;
	width: 558px;
	height: 200px;
	padding: 34.5px 10px;
	text-align: center;
	background-color: rgb(136, 173, 219);
	background-image: -ms-linear-gradient(right, #F0F0F0 0%, #88ADDB 100%);
	background-image: -moz-linear-gradient(right, #F0F0F0 0%, #88ADDB 100%);
	background-image: -o-linear-gradient(right, #F0F0F0 0%, #88ADDB 100%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #F0F0F0), color-stop(1, #88ADDB));
	background-image: -webkit-linear-gradient(right, #F0F0F0 0%, #88ADDB 100%);
	background-image: linear-gradient(to left, #F0F0F0 0%, #88ADDB 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#88ADDB', gradientType='1')";
}

 body.each-product div.main.container header.product .text h1
,body.each-product div.main.container header.product .text h2
,body.each-product div.main.container header.product .text h3 {
	margin: 0;
	padding: 0;
}

body.each-product div.main.container header.product .text h1 {
	font-family: Impact;
	font-size: 3em;
	margin-bottom: 10px;
}

body.each-product div.main.container header.product .text h2 {
	font-size: 1.1em;
	font-weight: 600;
}

/* @end */

body.each-product div.main.container div.row-product.center figure.product-show {
	margin-left: auto;
	margin-right: auto;
	float: none !important;
}

body.each-product div.main.container figure.product-show {
	text-align: center;
	font-weight: 600;
}

body.each-product div.main.container figure.product-show img {
	margin: 0 auto;
}

body.canalprac .row .row-product {
	margin-top: 35px;
}

body.each-product div.main.container .inner-prod-name {
	position: absolute;
	top: 0;
	left: 0;
}

.instalprac-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(188, 206, 229);
}

.instalprac-text > p {
	font-weight: 300;
	margin: 5px;
}

.table-edificacion-title {
	font-size: 1.2em;
}

.table-edificacion {
	margin: 2px auto;
}

.table-edificacion > thead > tr > th {
	background-color: rgb(102, 102, 102);
	color: rgb(255, 255, 255);
}

  .table-edificacion > thead > tr > th
, .table-edificacion > tbody > tr > td {
	border: 2px solid black;
	padding: 2px 5px;
}

.legal-footer {
	font-size: 1.6em;
}

.cartridge {
	position: absolute;
	top: 30px;
	left: 110px;
	width: 347px;
	background-color: rgb(188, 206, 229);
	text-align: left;
	padding: 10px;
	font-weight: 300;
}

.cartridge > ul {
	margin-bottom: 0;
}

.guarantee {
	margin-top: 95px;
}

.gomaprac-text {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 300;
	font-size: 1.2em;
}